<?xml version="1.0" encoding="UTF-8"?>
<beans:beans xmlns="http://www.springframework.org/schema/security" xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
						http://www.springframework.org/schema/security http://www.springframework.org/schema/security/spring-security.xsd">

	<http pattern="/css/**" security="none"></http>
	<http pattern="/img/**" security="none"></http>
	<http pattern="/js/**" security="none"></http>
	<http pattern="/plugins/**" security="none"></http>
	<http pattern="/fonts/**" security="none"></http>
	<http pattern="/html/**" security="none"></http>
	<http pattern="/login.html" security="none"></http>
	<http pattern="/favicon.ico" security="none"></http>

	<http use-expressions="false">
		<custom-filter before="FILTER_SECURITY_INTERCEPTOR" ref="dynamicallyUrlInterceptor" />
		<form-login login-page="/login.html" authentication-success-handler-ref="myAuthenticationSuccessHandler" authentication-failure-handler-ref="myAuthenticationFailureHandler"
			password-parameter="pwd" username-parameter="username" />
		<logout logout-success-url="/login.html" />
		<csrf disabled="true" />
		<headers>
			<frame-options policy="SAMEORIGIN" />
		</headers>
	</http>

	<authentication-manager>
		<authentication-provider ref="daoAuthenticationProvider">
		</authentication-provider>
	</authentication-manager>
	<beans:bean id="daoAuthenticationProvider" class="org.springframework.security.authentication.dao.DaoAuthenticationProvider">
		<!-- 是否隐藏用户没有找到的异常,默认为true,即将不能准确地报告用户是否存在的异常 -->
		<beans:property name="hideUserNotFoundExceptions" value="false" />
		<beans:property name="userDetailsService" ref="userService" />
		<beans:property name="passwordEncoder" ref="passwordEncode" />
		<!-- <property name="saltSource" ref="saltSource" />   -->
	</beans:bean>
	<!-- 配置密码加密类 -->
	<beans:bean id="passwordEncode" class="org.springframework.security.authentication.encoding.Md5PasswordEncoder" />
	<!-- <beans:bean id="saltSource" class="org.springframework.security.authentication.dao.ReflectionSaltSource">
		<beans:property name="userPropertyToUse" value="username" />
	</beans:bean> -->
</beans:beans>