<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title></title>
    <link rel="shortcut icon" href="favicon.ico"> 
    <link href="../../../css/bootstrap.min.css?v=3.3.5" rel="stylesheet">
    <link href="../../../css/font-awesome.min.css?v=4.4.0" rel="stylesheet">

    <!-- Morris -->
<!--     <link href="css/plugins/morris/morris-0.4.3.min.css" rel="stylesheet"> -->
    
     <!-- Data Tables -->
    <link href="../../../css/plugins/dataTables/dataTables.bootstrap.css" rel="stylesheet">

    <!-- Gritter -->
<!--     <link href="js/plugins/gritter/jquery.gritter.css" rel="stylesheet"> -->
	<link href="../../../css/laydate.css" rel="stylesheet">

    <link href="../../../css/animate.min.css" rel="stylesheet">
    <link href="../../../css/style.min.css?v=4.0.0" rel="stylesheet"><base target="_blank">
    <link rel="stylesheet" href="../../../plugins/angularjs/pagination.css">
    <script type="text/javascript" src="../../../plugins/angularjs/angular.min.js"></script>
    <script src="../../../plugins/angularjs/pagination.js"></script>
	<script type="text/javascript" src="../../../js/base_pagination.js"></script>
	<script type="text/javascript" src="../../../js/service/woRoleService.js"></script>
	<script type="text/javascript" src="../../../js/controller/baseController.js"></script>
	<script type="text/javascript" src="../../../js/controller/woRoleController.js"></script>

	<style type="text/css">
		.searchContainer{
			margin:15px 0;
		}
		.label-check{
			margin-right: 10px;
		}
	</style>
</head>

<body ng-app="workorder" ng-controller="woRoleController" ng-init="findAllPermission()" class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row">
            <div class="col-sm-12">
                <div class="ibox float-e-margins">
                    <div class="ibox-content">
						<div class="">
                           	<a href="javascript:void(0);" data-toggle="modal" data-target="#myEditModal" ng-click="entity={}" class="btn btn-primary "><i class="fa fa-plus"></i> 新建</a>
                       	</div>
                       	<div class="searchContainer">
                       		<form class="form-inline">
	                            <div class="form-group">
	                                <label class="control-label">用户组名：</label>
                               		<input type="text" placeholder="用户组名" ng-model="searchEntity.name" class="form-control">
	                            </div>
                                <button class="btn btn-sm btn-primary" ng-click="reloadList()" type="button" style="margin:0">查 询</button>
                                <button class="btn btn-sm btn-primary" ng-click="deleteByIds()" type="button" style="margin:0">批量删除</button>
	                        </form>
                       	</div>
                        <table datatable options="options" class="table table-striped table-bordered table-hover dataTables-example">
                            <thead>
                                <tr>
                                    <th width="10%"><input ng-click="selectAll($event)" type="checkbox"></th>
                                    <th width="10%">编号</th>
                                    <th width="20%">用户组名称</th>
                                    <th width="20%">用户组key</th>
                                    <th width="*">操作</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="gradeX" ng-repeat="item in list">
                                	<td class="center">
                                		<input ng-checked="checked" ng-click="updateSelection($event,item.id)" type="checkbox">
									</td>
                                    <td>{{item.id}}</td>
                                    <td>{{item.name}}
                                    </td>
                                    <td>{{item.roleKey}}</td>
                                    <td>
                                    	<a class="btn btn-sm btn-primary" data-toggle="modal" data-target="#myEditModal" ng-click="findOne(item.id)" href="javascript:void(0)" >编辑</a>
                                    	<a class="btn btn-sm btn-primary" data-toggle="modal" data-target="#myPermissModal" ng-click="setRoleId(item.id)" href="javascript:void(0)" >权限分配</a>
                                		<a class="btn btn-sm btn-primary" data-toggle="modal" data-target="#myDetailModal" ng-click="findOne(item.id)" href="javascript:void(0)">查看</a>
                                		<a class="btn btn-sm btn-primary" ng-click="deleteById(item.id)" href="javascript:void(0)">删除</a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                        <!--数据列表/-->
						<!-- 分页 -->
						<tm-pagination conf="paginationConf"></tm-pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="modal inmodal" id="myEditModal" tabindex="-1" role="dialog" aria-hidden="true">
     	<div class="modal-dialog">
         	<div class="modal-content animated bounceInRight">
	             <div class="modal-header">
	                 <h4 class="modal-title">编辑</h4>
                  </div>
	              <div class="modal-body">
	                  <form method="get" class="form-horizontal">
                            <div class="form-group">
                                <label class="col-sm-2 control-label">组名称</label>
                                <div class="col-sm-10">
                                    <input type="text" ng-model="entity.name" class="form-control">
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                            <div class="form-group">
                                <label class="col-sm-2 control-label">组key</label>
                                <div class="col-sm-10">
                                    <input type="text" ng-model="entity.roleKey" class="form-control"> <span class="help-block m-b-none">key不能重复，格式如：ROLE_ADMIN</span>
                                </div>
                            </div>
                            <div class="hr-line-dashed"></div>
                        </form>
	              </div>
	              <div class="modal-footer">
	                  <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
	                  <button type="button" ng-click="save()" class="btn btn-primary">保存</button>
	              </div>
             </div>
         </div>
     </div>
     
     <div class="modal inmodal" id="myDetailModal" tabindex="-1" role="dialog" aria-hidden="true">
     	<div class="modal-dialog">
         	<div class="modal-content animated bounceInRight">
	             <div class="modal-header">
	                 <h4 class="modal-title">详情</h4>
	                 </div>
	              <div class="modal-body">
	              	<div class="container-fluid">
		              	<div class="row">
		                 	<div class="col-sm-4">用户组名称</div>
		                 	<div class="col-sm-3">{{entity.name}}</div>
		                 </div>
		                 <div class="hr-line-dashed"></div>
		                 <div class="row">
		                 	<div class="col-sm-4">用户组key</div>
		                 	<div class="col-sm-3">{{entity.roleKey}}</div>
		                 </div>
		                 <div class="hr-line-dashed"></div>
		                 <div class="row">
		                 	<div class="col-sm-4">用户组所有权限</div>
		                 	<div class="col-sm-3">
		                 		<div ng-bind-html="allPermission"></div>
		                 	</div>
		                 </div>
	              	</div>
	              </div>
	              <div class="modal-footer">
	                  <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
	              </div>
             </div>
         </div>
     </div>
     
      <div class="modal inmodal" id="myPermissModal" tabindex="-1" role="dialog" aria-hidden="true">
     	<div class="modal-dialog">
         	<div class="modal-content animated bounceInRight">
	             <div class="modal-header">
	                 <h4 class="modal-title">权限分配</h4>
	                 </div>
	              <div class="modal-body">
	              	<div class="container-fluid">
	              		<div class="row" ng-repeat="item in permissionList">
	              			<div class="col-sm-12">
	              				<label>
		                             <input type="checkbox" ng-checked="isAllCheckedFunc(item.children)" ng-click="selectAll($event,item.children)" class="i-checks">{{item.name}}
		                        </label>
	              			</div>
	              			<div class="col-sm-12">
	              				&nbsp;&nbsp;&nbsp;&nbsp;
	              				<label class="label-check" ng-repeat="child in item.children">
		                             <input type="checkbox" ng-checked="isChecked(child.id)" ng-click="selectPermission($event,child.id)" class="i-checks">{{child.name}}
		                         </label>
	              			</div>
	              		</div>
	              	</div>
	              </div>
	              <div class="modal-footer">
	                  <button type="button" class="btn btn-white" data-dismiss="modal">关闭</button>
	                  <button type="button" class="btn btn-primary" ng-click="savePermission()">保存</button>
	              </div>
             </div>
         </div>
     </div>

    <script src="../../../js/jquery.min.js?v=2.1.4"></script>
    <script src="../../../js/bootstrap.min.js?v=3.3.5"></script>
    <script src="../../../js/plugins/jeditable/jquery.jeditable.js"></script>
    <script src="../../../js/plugins/dataTables/jquery.dataTables.js"></script>
    <script src="../../../js/plugins/dataTables/dataTables.bootstrap.js"></script>
    <script src="../../../js/content.min.js?v=1.0.0"></script>
    <script src="../../../js/plugins/layer/laydate/laydate.js"></script>
     
    <script>
        var start={elem:"#start",format:"YYYY/MM/DD hh:mm:ss",min:laydate.now(),max:"2099-06-16 23:59:59",istime:true,istoday:false,choose:function(datas){end.min=datas;end.start=datas}};
        var end={elem:"#end",format:"YYYY/MM/DD hh:mm:ss",min:laydate.now(),max:"2099-06-16 23:59:59",istime:true,istoday:false,choose:function(datas){start.max=datas}};
        laydate(start);
        laydate(end);
        function handleBtnClick(url){
        	var p_url = window.location.pathname;
        	parent.addMenuTab(url,"送检单详情",2);
        }
    </script>
    <script type="text/javascript" src="http://tajs.qq.com/stats?sId=9051096" charset="UTF-8"></script>
</body>

</html>